<h1 class="text-center">Weektimes</h1>

      <div class="container">
 
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th class="text-center"><strong> #</strong></th>
            <th class="text-center"><strong>Date</strong></th>
            <th class="text-center"><strong>Nbrs horaire</strong></th>
            <th class="text-center"><strong>H/Total</strong></th>
            <th class="text-center"><strong>Validation</strong></th>
            <th class="text-center"></th>
          </tr>
        </thead>
      <tbody>

  <% @weektimes.each do |weektime| %>
    <%= render weektime %>
  <% end %>

</tbody>
        <thead class="thead-light">
          <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
      </table>
      
<hr>

  <%= button_to "New weektime", new_weektime_path, method: :get %>
</div>  