
<div >
 
  <h1 class="text-center">New weektime</h1>
</div>

 <%= render partial: "weektimes/form"%>
    
  <div class="container">
    <%= button_to "Voir toutes mes heures", weektimes_path, method: :get, class: "text-right"%>
  </div>
  
