<h1>Pages#home</h1>
  <div class="container">
    

    <% if current_user%>
    <section>
     
        <p> Hello <%= current_user.email %> ! </p>
         <p> tu es <%= current_user.role %> ! </p>

    </section>
        </hr>
    <section>
   
        <h3>Worktimes</h3>
        <li><%= link_to "create weektimes", new_weektime_path %></li> 
        <li><%= link_to " weektimes", weektimes_path %></li>
        </br>

    </section>
    <% else %>
    -------

    ----------
    <%end%>
  </div>  