<p style="color: green"><%= notice %></p>

<h1>Worktimes</h1>

<div id="worktimes">
  <% @worktimes.each do |worktime| %>
    <%= render worktime %>
    <p>
      <%#= link_to "Show this worktime", weektime_worktime_url(worktime) %>
    </p>
  <% end %>
</div>

<%= button_to "New worktime", new_weektime_worktime_path,method: :get %>
