<div >
 
  <h1 class="text-center">New worktime</h1>
</div>


    <%= render partial: "worktimes/form"%>


<br>

<div class= "container">
  <%= button_to "feuille d'heure", weektime_path(@weektime), method: :get %>
</div>
